# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Marco Martin <notmart@gmail.com>
[Desktop Entry]
Name=KeepSecret
GenericName=Password Manager
Comment=Manage passwords
Version=1.0
Exec=keepsecret
Icon=kwalletmanager
Type=Application
Terminal=false
Categories=Qt;KDE;System;Utility
