# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Marco Martin <notmart@gmail.com>
[Desktop Entry]
Name=KeepSecret
Name[ca]=KeepSecret
Name[ca@valencia]=KeepSecret
Name[es]=KeepSecret
Name[eu]=KeepSecret
Name[he]=KeepSecret
Name[nl]=KeepSecret
Name[pt_BR]=KeepSecret
Name[sl]=KeepSecret
Name[sv]=KeepSecret
Name[tr]=Giz Deposu
Name[uk]=KeepSecret
Name[x-test]=xxKeepSecretxx
GenericName=Password Manager
GenericName[ca]=Gestor de contrasenyes
GenericName[ca@valencia]=Gestor de contrasenyes
GenericName[es]=Gestor de contraseñas
GenericName[eu]=Pasahitz-kudeatzailea
GenericName[he]=מנהל סיסמאות
GenericName[nl]=Wachtwoordbeheerder
GenericName[pt_BR]=Gerenciador de senhas
GenericName[sl]=Upravljalnik gesel
GenericName[sv]=Lösenordshanterare
GenericName[tr]=Parola Yöneticisi
GenericName[uk]=Менеджер паролів
GenericName[x-test]=xxPassword Managerxx
Comment=Manage passwords
Comment[ca]=Gestiona contrasenyes
Comment[ca@valencia]=Gestiona les contrasenyes
Comment[es]=Gestión de contraseñas
Comment[eu]=Pasahitzak kudeatu
Comment[he]=ניהול סיסמאות
Comment[nl]=Wachtwoorden beheren
Comment[pt_BR]=Gerencie senhas
Comment[sl]=Upravlja gesla
Comment[sv]=Hantera lösenord
Comment[tr]=Parolaları yönetin
Comment[uk]=Керування паролями
Comment[x-test]=xxManage passwordsxx
Version=1.0
Exec=keepsecret
Icon=kwalletmanager
Type=Application
Terminal=false
Categories=Qt;KDE;System;Utility
